name: Build & Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push (latest + sha)
        run: |
          IMAGE="ghcr.io/${{ github.repository }}"
          IMAGE=$(echo "$IMAGE" | tr '[:upper:]' '[:lower:]')
          SHA="${{ github.sha }}"

          docker build -t "$IMAGE:latest" -t "$IMAGE:$SHA" .
          docker push "$IMAGE:latest"
          docker push "$IMAGE:$SHA"

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Decode SSH key to env
        shell: bash
        run: |
          echo "${{ secrets.EC2_SSH_KEY_B64 }}" | base64 -d > key.pem
          echo "EC2_KEY<<EOF" >> $GITHUB_ENV
          cat key.pem >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ env.EC2_SSH_KEY }}
          script: |
            set -e
            cd ~/apps/url-shortener
            docker compose pull
            docker compose up -d
            docker image prune -f
            docker compose ps

